@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Tourney', sans-serif;

    background-color: black;
    background-size: cover;
    background-position: center;
}



.container p{
    margin-bottom: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 24px;
    margin: 30;


}