@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@400;700&display=swap');

body {
    background-color: black;
    color: azure;
    font-family: "Tourney", sans-serif;
}

#typing-text {
    width: 60ch; 
    animation: typing 2s steps(100), blink-caret 5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
#typing-text1 {
    color: hsl(313, 49%, 59%);
    width: 60ch; 
    animation: typing 2s steps(100), blink-caret 5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}



.cursor {
    animation: blink-cursor 1s step-end infinite;
}

.dot {
    color: hsl(313, 49%, 59%);
    animation: blink-cursor 1s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
}

@keyframes blink-cursor {
    50% { opacity: 0; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.light {
    font-size: 20px;
    color: hsla(313, 100%, 80%, 0.781);
    text-decoration: none;
    transition: all 0.3s ease;
}

a.light:hover {
    color: white;
    text-shadow: 0 0 30px #980a0a, 0 0 40px #fff, 0 0 50px #ff0000;
}


h1 {
    color: hsla(313, 100%, 80%, 0.781);
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 0px;
}

#typing-text1:hover {
    color: white;
    text-shadow: 0 0 30px #980a0a, 0 0 40px #fff, 0 0 50px #ff0000;
}



