@import url('https://fonts.googleapis.com/css2?family=Geostar&display=swap');

body {
    font-family: "Geostar", sans-serif;
    background-color: black;
    background-size: cover;
    background-position: center;
}

h1#Chip_IMHO {
    margin-bottom: 0;
    color: rgb(208, 0, 255);
    text-shadow: 2px 2px rgb(208, 0, 255);
    font-size: 25px;
}

.container #typing-text {
    font-size: 25px;
    text-shadow: 2px 2px rgb(173, 0, 212);
    color: rgb(173, 0, 212);
}

.container #typing-text_1 {
    font-size: 25px;
    text-shadow: 2px 2px #ffffff;
    color: white;
}

.container .links {
    font-size: 25px;
    list-style-type: circle;
    color: white;
    margin-bottom: 0;
}

.container a.light {
    font-size: 25px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(208, 0, 255);
    color: rgb(208, 0, 255);
}

.container a.light:hover {

    text-shadow: 0 0 20px hsl(288, 100%, 50%), 0 0 30px #690f5a, 0 0 40px hsl(315, 61%, 44%);
    color: rgb(167, 0, 204);
}
.container p{
    margin-top: 0;
}
.cursor {
    color: rgb(255, 255, 255);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

