@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Tourney', sans-serif;

    background-color: black;
    background-size: cover;
    background-position: center;
}

h1#Chip_IMHO {
    margin-bottom: 0;
    color: rgb(208, 0, 255);
    text-shadow: 2px 2px rgb(76, 0, 93);
    font-size: 25px;
}
.container #typing-text {
    font-size: 20px;
    text-shadow: 2px 2px rgb(52, 0, 64);
    color: rgb(121, 0, 148);
}

.container #typing-text_1 {
    font-size: 15px;
    color: white;
}

.container .links {
    font-size: 25px;
    list-style-type: circle;
    color: white;
    margin-bottom: 0;
}

.container a.light {
    font-size: 25px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(76, 0, 93);
    color: rgb(208, 0, 255);
}

.container a.light:hover {

    text-shadow: 0 0 20px hsl(288, 100%, 50%), 0 0 30px #690f5a, 0 0 40px hsl(315, 61%, 44%);
    color: rgb(255, 255, 255);
}
.container p{
    margin-top: 0;
}
.cursor {
    color: rgb(255, 255, 255);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

.text-box {

   font-size: 15px;
   position: absolute;
   bottom: 30px;       
   left: 100px;    
   color: rgb(146, 146, 146);

}
p#copyText{
    color: white;
}
