@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Tourney', sans-serif;

     background-image: url('cosmos.jpeg');
    background-size: cover;
    background-position: center;
}

h1#Chip_IMHO {
    margin-bottom: 0;
    color: rgb(208, 0, 255);
    text-shadow: 2px 2px rgb(76, 0, 93);
    font-size: 30px;
}
.container #typing-text {
    font-size: 16px;
    text-shadow: 2px 2px rgb(52, 0, 64);
    color: rgb(121, 0, 148);
}

.container #typing-text_1 {
    font-size: 20px;
    color: white;
}

.container .links {
    font-size: 30px;
    list-style-type: circle;
    color: white;
    margin-bottom: 0;
}

.container a.light {
    font-size: 30px;
    text-decoration: none;
    text-shadow: 2px 2px rgb(76, 0, 93);
    color: rgb(208, 0, 255);
}

.container a.light:hover {

    text-shadow: 0 0 20px hsl(288, 100%, 50%), 0 0 30px #690f5a, 0 0 40px hsl(315, 61%, 44%);
    color: rgb(255, 255, 255);
}

.container #p{
     margin-top: 0;
}
.cursor {
    color: rgb(255, 255, 255);
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}


div.card {
    padding: 16px;
    box-shadow: 0 0 20px 11px rgba(255, 255, 255, 0.2);
    border: 2px solid white; /* <-- обычная обводка */
    border-radius: 20px 20px 20px 20px;
    background-color: rgb(0, 0, 0);
    margin: 16px;
}

footer.footer{
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #000; /* можно убрать если фон другой */

  border-top: 3px solid rgba(255, 255, 255, 0.5); /* линия сверху */
}   
span{
    color: rgb(208, 0, 255);
    text-shadow: 2px 2px rgb(76, 0, 93);

}



.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.button {


    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(110, 110, 110, 0.5);
    background-color: #000;
    border: 2px solid rgb(128, 128, 128, 0.5); /* <-- обычная обводка */
    box-shadow: 2px 2px rgba(255, 255, 255, 0.2);
}

.button:active{
    border: none;
    box-shadow: 2px 2px rgba(255, 255, 255, 0.2);
}
