@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@400;700&display=swap');

body {
    background-color: black;
    color: azure;
    font-family: "Tourney", sans-serif;
}

#typing-text {
    width: 18ch;
    animation: typing 2s steps(18), blink-caret 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.cursor {
    animation: blink-cursor 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
}

@keyframes blink-cursor {
    50% { opacity: 0; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}

.light {
    font-size: 25px;
    color: hsla(313, 100%, 80%, 0.781);
    text-decoration: none;
    transition: all 0.3s ease;
}

a.light:hover {
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

h1 {
    color: hsla(313, 100%, 80%, 0.781);
    font-size: 2rem;
    margin-top: 40px;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}
